@inherits BaseComponent
@{
    string text = _hasAuthenticator ? "Set up authenticator app" : "Add authenticator app";
}
<MudPaper Class="mud-width-full pa-6">
    <MudTabs @ref="_tabs" Outlined="false" Position="Position.Top" Rounded="true" Border="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        <MudTabPanel Text="@text">
            @if (_enableAuthenticator) {
                <EnableAuthenticatorAppComponent OnAuthenticatorEnabled="OnAuthenticatorEnabled" />
            }

            @if (_canGenerateRecoveryCodes) {
                <GenerateRecoveryCodesComponent/>
            }
        </MudTabPanel>
        <MudTabPanel Text="Reset Authenticator" Disabled="@(!_is2faEnabled)">
            <div class="alert alert-warning" role="alert">
                <p>
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    <strong>If you reset your authenticator key your authenticator app will not work until you reconfigure it.</strong>
                </p>
                <p>
                    This process disables 2FA until you verify your authenticator app.
                    If you do not complete your authenticator app configuration you may lose access to your account.
                </p>
            </div>
            <div>
                <CRUDButton Type="CRUDButtonType.Error" OnClick="ResetAuthenticatorKey" Text="Reset authenticator key" />
            </div>
        </MudTabPanel>
        <MudTabPanel Text="Disable 2FA" Disabled="@(!_is2faEnabled)">
            <div class="alert alert-warning" role="alert">
                <p>
                    <strong>This action only disables 2FA.</strong>
                </p>
                <p>
                    Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key
                    used in an authenticator app you should reset your authenticator keys.
                </p>
            </div>

            <div>
                <CRUDButton Type="CRUDButtonType.Error" OnClick="Disable2FA" Text="Disable 2FA" />
            </div>
        </MudTabPanel>
    </MudTabs>
</MudPaper>