<table border="0" cellpadding="10" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td colspan="2" valign="middle" style="border-radius:6px;border:0;color:#717373;font-family:&quot;Helvetica Neue&quot;,Helvetica,Roboto,Arial,sans-serif;font-size:12px;line-height:150%;text-align:center;padding:24px 0" align="center">
                <p style="margin:0 0 16px"><span class="il">CH.CleanArchitecture</span></p>
                <a href="#" class="fa fa-linkedin"></a>
            </td>
        </tr>
    </tbody>
</table>
@code {
}
