<LayoutView Layout="@typeof(EmailLayout)">
    <SectionContent SectionName="header-title">
        Welcome to CH.CleanArchitecture!
    </SectionContent>
    <p style="margin:0 0 16px">Hello @Model.Payload.Name,</p>
    <p style="margin:0 0 16px">
        Thank you for creating an account at CH.CleanArchitecture. As a reminder, your registered email is <strong>@Model.Payload.Email</strong>.
        Confirm your account by clicking <strong><a href="@Model.Payload.ConfirmationUrl">here</a></strong>.
    </p>

    After verifying your email, your account will be submitted to the system administrator for review.
    Once your profile has been successfully reviewed, you will be able to activate your subscription and gain access to all system features.
</LayoutView>

@code {
    [Parameter]
    public EmailViewModel<ConfirmAccountDTO> Model { get; set; }

    [Inject]
    private ILocalizationService _localization { get; set; }
}