<LayoutView Layout="@typeof(EmailLayout)">
    <SectionContent SectionName="header-title">
        Password Change Request
    </SectionContent>
    Hello @Model.Payload.Name @Model.Payload.Surname,
    <p style="margin:0 0 16px">Someone has requested a new password for your account at CH.CleanArchitecture.</p>
    <p>If you did not make this request, simply ignore this message.</p>

    <p>To reset your password, click <strong><a href="@Model.Payload.ResetPasswordUrl">here</a></strong></p>
</LayoutView>

@code {
    [Parameter]
    public EmailViewModel<ResetPasswordDTO> Model { get; set; }

    [Inject]
    private ILocalizationService _localization { get; set; }
}