<LayoutView Layout="@typeof(EmailLayout)">
    <SectionContent SectionName="header-title">
        Αίτημα αλλαγής κωδικού
    </SectionContent>
    Γεια σου @Model.Payload.Name @Model.Payload.Surname
    <p style="margin:0 0 16px">Κάποιος έχει ζητήσει έναν νέο κωδικό πρόσβασης για τον λογαριασμό σου στο CH.CleanArchitecture</p>
    <p>Αν δεν έχεις κάνει εσύ αυτό το αίτημα, απλώς αγνοήσε αυτό το μήνυμα.</p>

    <p>Για να επαναφέρεις το συνθηματικό πατήσε  <strong><a href="@Model.Payload.ResetPasswordUrl">here</a></strong></p>
</LayoutView>

@code {
    [Parameter]
    public EmailViewModel<ResetPasswordDTO> Model { get; set; }

    [Inject]
    private ILocalizationService _localization { get; set; }
}